<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Home</title>
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet" />
  </head>
  <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
      

          <header class="masthead clearfix">
            <div class="inner">
              <h3 class="font-weight-bold masthead-brand">Ingress</h3>
              
              
             {% block enlaces %}
             {% endblock %}

             
             {% block user %}
             {% endblock %}
           
            </div>
          
          </header>

         {% block layout %} 
          {% endblock %}



          <footer class="mastfoot">
            <div class="inner">
              
            </div>
          </footer>

       
      </div>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
