 
{% extends "base.html.twig" %}

        {% block enlaces %}
        <!-- navbar -->
        <nav class="nav nav-masthead">
          <a class="nav-link active" href="/inicio">Inicio</a>
          <a class="nav-link" href="/subir">Subir Datos</a>
          <a class="nav-link" href="/topagents">Estadisticas</a>
          <a class="nav-link" href="/Eventos">Eventos</a>
          <a class="nav-link" href="/contacto">Contacto</a>
          <a class="nav-link" href="/salir" >Cerrar sesion</a>
        </nav>
        
        <!-- navbar -->
        {% endblock %}
           
{% block layout %}
          <main class="inner cover">
            <section class="pb-3">
              <h2 class="cover-heading">Contacto</h2>
              <p class="lead">Aplicacion hecha por Amparo Moreno para la asignatura de DWES. </p>
              <p class="lead">con la ayudita del compi que me ha pasado esta plantilla.(Thanks Raúl).</p>
            
            </section>

           
          </main>

        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
          {% endblock %}