 
        {% extends "base.html.twig" %}
        {% block layout %}
        
        <main class="inner cover">
            <h1 class="cover-heading">El usuario ya existe ve a loguearte </h1>
            <p class="lead">o registrate con otro nombre de usuatrio </p>
            <p class="lead"> <a href="/register" class="btn btn-lg btn-secondary">New user</a> </p>
            <p class="lead"> <a href="/login" class="btn btn-lg btn-secondary">    Login   </a> </p>
          </main>
          
        {% endblock %}
        